.care {
    background-color: var(--primary-color-dark);

    &__content {
        row-gap: var(--space-6);
        padding-block: var(--space-2) var(--space-4);
    }

    &__list {
        display: grid;
        row-gap: 1.25rem;
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: 0.75rem;

        & i {
            font-size: 1.5rem;
            color: var(--secondary-color);
        }
    }

    &__img {
        width: 320px;
        filter: var(--shadow-img);
        justify-self: center;
    }
}