.hero {
    &__content {
        padding-top: var(--space-3);
        justify-content: center;
        row-gap: var(--space-8);
    }

    &__data {
        position: relative;
        text-align: center;
    }

    &__title {
        font: var(--fw-regular) var(--fs-xxxl) var(--ff-titan);
        line-height: 100%;
        margin-bottom: var(--space-2);
        text-shadow: var(--shadow-text);
    }

    &__meat {
        position: absolute;
        width: 40px;
        top: 9rem;
        right: 0;
        opacity: 0.5;
    }

    &__description {
        margin-bottom: var(--space-5);
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-2);
    }

    &__figure {
        position: relative;
        display: grid;
        place-items: center;
        justify-self: center;
    }

    &__circle {
        width: 320px;
        height: 320px;
        background-color: var(--primary-color-darken);
        border-radius: 50%;
        box-shadow: inset var(--shadow-circle);
        display: grid;
        place-items: center;
    }

    &__subcircle {
        width: 250px;
        height: 250px;
        background-color: var(--secondary-color);
        border-radius: 50%;
        box-shadow: inset var(--shadow-circle);
    }

    &__figure &__img {
        width: 250px;
        rotate: 10deg;
        filter: var(--shadow-img);
        position: absolute;
    }

    &__figure img {
        width: 60px;
        position: absolute;
        filter: var(--shadow-img);
    }

    &__chips-1 {
        right: -0.5rem;
    }

    &__chips-2 {
        bottom: -0.75rem;
        right: 0.5rem;
    }

    &__chips-3 {
        top: 0.25rem;
        left: -0.5rem;
    }

    &__tomato-1 {
        top: -1.5rem;
        right: 2.5rem;
    }

    &__tomato-2 {
        bottom: -1.5rem;
        left: 3.5rem;
    }

    &__leaf {
        left: -0.75rem;
    }
}