.footer {
    padding-block: var(--space-6) var(--space-4);

    &__container {
        row-gap: 2rem;
    }

    &__logo {
        color: var(--white-color);
        font: var(--fs-xxl) var(--ff-titan);
        justify-self: center;
        filter: var(--shadow-text);
    }

    &__content {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        row-gap: var(--space-4);
    }

    &__link {
        color: var(--white-color);
        margin-right: var(--space-2);
        transition: color 0.4s;

        &:hover {
            color: var(--secondary-color);
        }
    }

    &__copyright {
        grid-column: 1/3;
        text-align: center;
    }
}