.scrollup {
    position: fixed;
    right: var(--space-2);
    bottom: -3rem;
    background-color: var(--primary-color-dark);
    color: var(--white-color);
    box-shadow: inset var(--shadow-button);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    z-index: var(--zi-hard);
    transition: bottom 0.4s, transform 0.4s;

    &.scrollup--show {
        bottom: var(--space-6);
    }

    &:hover {
        transform: translateY(-0.25rem);
    }
}