::-webkit-scrollbar {
    width: 0.6rem;
    background-color: hsl(170, 50%, 30%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(170, 50%, 20%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(170, 50%, 15%);
}

// mobile
@media screen and (max-width: 340px) {
    .container {
        margin-inline: var(--space-2);
    }

    .section__title {
        font-size: var(--fs-xl);
    }

    .hero {
        &__title {
            font-size: 3rem;
        }

        &__actions {
            flex-direction: column;
            row-gap: var(--space-2);
        }

        &__circle {
            width: 250px;
            height: 250px;
        }

        &__subcircle {
            width: 200px;
            height: 200px;
        }

        &__figure &__img {
            width: 200px;
        }
    }

    .product {
        &__list {
            grid-template-columns: 160px;
            justify-content: center;
        }
    }

    .footer {
        &__content {
            grid-template-columns: 1fr;
            justify-items: center;
            row-gap: var(--space-2);
        }

        &__link {
            font-size: var(--fs-sm);
        }

        &__copyright {
            grid-column: 1;
        }
    }
}

// tablet
@media screen and (min-width: 540px) {
    .hero {
        &__content {
            grid-template-columns: 370px;
            justify-content: center;
        }
    }

    .favorite {
        &__content {
            grid-template-columns: 370px;
            justify-content: center;
        }

        &__swiper {
            max-width: 600px;
            overflow-x: clip;
            justify-self: center;
        }
    }

    .care {
        &__content {
            grid-template-columns: 370px;
            justify-content: center;
        }
    }

    .product {
        &__list {
            grid-template-columns: repeat(2, 160px);
            justify-content: center;
        }
    }

    .contact {
        display: grid;
        grid-template-columns: 450px;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .product {
        &__list {
            grid-template-columns: repeat(3, 160px);
        }
    }

    .contact {
        grid-template-columns: 550px;
    }

    .footer {
        &__content {
            grid-template-columns: repeat(3, max-content);
            justify-content: space-between;
            align-items: center;
        }

        &__copyright {
            grid-column: initial;
        }

        &__link:nth-child(2) {
            order: 1;
        }
    }
}

// desktop
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto !important;
    }

    .section {
        margin-block: 7rem var(--space-4);

        &__title {
            margin-bottom: var(--space-4);
        }
    }

    .nav {
        height: calc(var(--header-height) + 2rem);

        &__show,
        &__close {
            display: none;
        }

        &__link {
            font-size: var(--fs-md);
        }

        &__menu {
            display: flex;
            column-gap: var(--space-6);
            align-items: center;
        }

        &__list {
            flex-direction: row;
            column-gap: var(--space-8);
        }
    }

    .hero {
        &__content {
            grid-template-columns: 420px 585px;
            align-items: center;
            column-gap: 6rem;
            padding-top: var(--space-10);
        }

        &__data {
            text-align: initial;
        }

        &__title {
            margin-bottom: var(--space-3);
        }

        &__description {
            margin-bottom: var(--space-8);
        }

        &__actions {
            justify-content: initial;
        }

        &__meat {
            width: 80px;
            top: 13rem;
        }

        &__circle {
            width: 550px;
            height: 550px;
        }

        &__subcircle {
            width: 430px;
            height: 430px;
        }

        &__figure &__img {
            width: 400px;
        }

        &__figure img {
            width: 95px;
        }
    }

    .favorite {
        &__content {
            grid-template-columns: 520px;
            row-gap: var(--space-8);
        }

        &__cheese-1,
        &__cheese-2 {
            width: 80px;
        }

        &__cheese-1 {
            right: -18rem;
        }

        &__cheese-2 {
            left: -18rem;
        }

        &__swiper {
            max-width: 1000px;
        }

        &__item,
        &__img {
            width: 320px;
        }

        &__leaf-1,
        &__leaf-2 {
            width: 110px;
        }
    }

    .care {
        &__content {
            grid-template-columns: 500px 410px;
            column-gap: 6rem;
            align-items: center;
            padding-block: var(--space-8);
        }

        &__img {
            width: 550px;
            order: -1;
        }

        &__item {
            column-gap: 1rem;

            & i {
                font-size: 2rem;
            }
        }
    }

    .banner {
        padding-top: var(--space-8);

        &__list {
            column-gap: 6.5rem;
        }

        &__item {
            column-gap: var(--space-2);

            & i {
                font-size: 4.5rem;
            }

            & span {
                font-size: var(--fs-xxl);
            }
        }

    }

    .product {

        &__container {
            padding-top: 7.5rem;
        }

        &__list {
            grid-template-columns: repeat(3, 250px);
            gap: 10rem var(--space-8);
        }

        &__item {
            padding: 11rem var(--space-4) var(--space-4);
            border-radius: 1.5rem;
        }

        &__img {
            width: 170px;
            top: -5rem;
        }

        &__subtitle {
            font-size: var(--fs-md);
        }

        &__price {
            font-size: var(--fs-lg);
        }

        &__button {
            right: 2rem;
            bottom: 2rem;
            padding: 6px;
            font-size: 1.5rem;
            border-radius: 0.5rem;
        }

        &__crab,
        &__hamburger,
        &__cheese {
            width: 80px;
        }

        &__crab {
            top: 2rem;
        }

        &__hamburger {
            top: 30rem;
            right: 3rem;
        }

        &__cheese {
            left: 4rem;
            margin: initial;
        }
    }

    .contact {
        display: block;

        &__container {
            border-radius: 4rem;
        }

        &__content {
            grid-template: 330px / 360px 320px;
            justify-content: center;
            align-items: flex-start;
            column-gap: 10rem;
            padding-top: 2rem;
        }

        &__data {
            text-align: initial;
            grid-template: max-content / repeat(2, max-content);
            gap: var(--space-6) var(--space-4);
        }

        &__title {
            margin-bottom: 0.75rem;
        }

        &__social {
            justify-content: initial;
        }

        &__img {
            width: 350px;
            transform: translateY(-6rem);
        }

        &__shrimp,
        &__crab,
        &__meat {
            width: 80px;
        }

        &__shrimp {
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 20;
        }

        &__crab {
            top: var(--space-10);
            left: var(--space-8);
        }

        &__meat {
            right: initial;
            left: 12rem;
            bottom: -1rem;
        }
    }

    .footer {
        padding-block: var(--space-10) var(--space-6);

        &__container {
            row-gap: var(--space-6);
        }
    }

    .scrollup {
        right: var(--space-6);
    }
}