// infrastructure
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Titan+One&display=swap');

:root {
    --header-height: 3.5rem;

    --primary-color: hsl(170, 90%, 34%);
    --primary-color-dark: hsl(170, 100%, 28%);
    --primary-color-darken: hsl(170, 100%, 23%);
    --secondary-color: hsl(45, 100%, 52%);
    --secondary-color-dark: hsl(45, 100%, 20%);
    --white-color: hsl(0, 0%, 100%);
    --shadow-img: drop-shadow(0 12px 24px hsla(0, 0%, 0%, 0.4));
    --shadow-circle: 0 12px 24px hsla(0, 0%, 0%, 0.4);
    --shadow-button: 0 -4px 8px hsla(0, 0%, 0%, 0.3);
    --shadow-card: 0 -8px 24px hsla(0, 0%, 0%, 0.3);
    --shadow-text: 0 -2px 4px var(--primary-color-darken);

    --ff-poppins: "Poppins", sans-serif;
    --ff-titan: "Titan One", sans-serif;

    --fs-xxxl: 3.5rem;
    --fs-xxl: 1.5rem;
    --fs-xl: 1.25rem;
    --fs-lg: 1rem;
    --fs-md: 0.938rem;
    --fs-sm: 0.813rem;

    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-medium: 500;
    --fw-regular: 400;

    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;
    --space-5: 2.5rem;
    --space-6: 3rem;
    --space-7: 3.5rem;
    --space-8: 4rem;
    --space-9: 4.5rem;
    --space-10: 5rem;

    --zi-hard: 100;
    --zi-soft: 10;
}

@media screen and (min-width: 1150px) {
    :root {
        --fs-xxxl: 5.5rem;
        --fs-xxl: 2.5rem;
        --fs-xl: 1.5rem;
        --fs-lg: 1.25rem;
        --fs-md: 1rem;
        --fs-sm: 0.875rem;
    }
}

// base
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-poppins);
    font-size: var(--fs-md);
    background-color: var(--primary-color);
    color: var(--white-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

// utils
.container {
    max-width: 1120px;
    margin-inline: var(--space-3);
}

.section {
    padding-block: var(--space-10) var(--space-2);

    &__title {
        font: var(--fw-regular) var(--fs-xxl) var(--ff-titan);
        text-align: center;
        margin-bottom: var(--space-3);
        text-shadow: var(--shadow-text);
    }
}

.grid {
    display: grid;
}